<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [5]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [133]:
# You code here 
min_m = (min(data.loc[(data["Year"] == 1996) & (data["Sex"] == 'M')].Age.unique()))

min_f = (min(data.loc[(data["Year"] == 1996) & (data["Sex"] == 'F')].Age.unique()))

print(min_m ," and ", min_f)
#14 and 12

14.0  and  12.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [134]:
# You code here 
unique_data = data.copy()
print(unique_data.loc[
    (unique_data["Sex"] == 'M') & (unique_data["Sport"] == 'Gymnastics') 
    & (unique_data["Year"] == 2000)
].Sport.value_counts()[0])

print(sum(unique_data.loc[(data["Sex"] == 'M') 
                                            & (unique_data["Year"] == 2000)].Sport.value_counts()))
(unique_data.loc[
    (unique_data["Sex"] == 'M') & (unique_data["Sport"] == 'Gymnastics') 
    & (unique_data["Year"] == 2000)
].Sport.value_counts()[0]/(sum(unique_data.loc[(data["Sex"] == 'M') 
                                            & (unique_data["Year"] == 2000)].Sport.value_counts()))) * 100

642
8390

7.651966626936829

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [78]:
# You code here 
unique_data = data.copy()
unique_data.loc[
    (unique_data["Sex"] == "F") &
    (unique_data["Year"] == 2000) &
    (unique_data["Sport"] == "Basketball")
].Height.describe()

count    142.000000
mean     182.387324
std        9.139462
min      162.000000
25%      175.000000
50%      182.000000
75%      190.000000
max      213.000000
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [83]:
# You code here 
unique_data = data.copy()
max_weight = unique_data.loc[
    (unique_data["Year"] == 2000)
].Weight.max()
print(max_weight)
unique_data.loc[
    (unique_data["Weight"] == max_weight)
].Event

180.0

206352    Judo Men's Heavyweight
Name: Event, dtype: object

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [93]:
# You code here 
len(data.loc[data["Name"] == "Pawe Abratkiewicz"].Year.unique())

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [108]:
# You code here 
data.loc[(data["Year"] == 2000) & (data["Team"] == "Australia") & (data["Sport"] == "Tennis")].Medal.value_counts()

Silver    2
Name: Medal, dtype: int64

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [116]:
# You code here 
print("Switzerland Medals : ", sum(data.loc[(data["Year"] == 2016) & (data["Team"] == "Switzerland")].Medal.value_counts()))
print("Serbia Medals : ", sum(data.loc[(data["Year"] == 2016) & (data["Team"] == "Serbia")].Medal.value_counts()))

Switzerland Medals :  11
Serbia Medals :  54

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [125]:
# You code here 
temp_data = data.copy()
temp_data = temp_data.loc[temp_data["Year"] == 2014]
bins = [5, 15, 25, 35, 45, 55, 65, 75, 85, 95, 105]
temp_data["binned_age"] = pd.cut(temp_data["Age"], bins)
temp_data["binned_age"].value_counts()
print("Fewest : (45, 55]        4" )
print("Most : (15, 25]     2412")
# data.loc[data["Year"] == 2014].describe()

Fewest : (45, 55]        4
Most : (15, 25]     2412

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [128]:
# You code here 
print("Lake Placid Summer : ",len(data.loc[(data["City"] == "Lake Placid") & (data["Season"] == "Summer")]))
print("Sankt Moritz Summer : ",len(data.loc[(data["City"] == "Sankt Moritz") & (data["Season"] == "Winter")]))

Lake Placid Summer :  0
Sankt Moritz Summer :  1657

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [132]:
# You code here 
print("No of Sports 1995", len(data.loc[data["Year"] == 1995].Sport.unique()))
print("No of Sports 1995", len(data.loc[data["Year"] == 2016].Sport.unique()))

No of Sports 1995 0
No of Sports 1995 34

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []